/* _____________________________________________COLORS_____________________________________________ */
:root {

    /* RAW COLORS */
    --clr-azure: #3e54b5;
    --clr-white: #ffffff;
    --clr-turquoise: #03f4f0;
    --clr-tomato: rgb(197, 83, 83);
    --clr-lime-orange: #f2c8a0;
--clr-gray:rgb(129, 129, 129);

    /* Layout */
    --clr-primary-main        : var(--clr-azure);
    --clr-primary-font        : var(--clr-white);
    --bg-clr-menu-line        : var(--clr-tomato);
    --bg-clr-menu-items       : var(--clr-white);
    --clr-menu-items-font     : var(--clr-azure);
    --clr-todays-mood-save-btn: var(--clr-tomato);
    --bg-clr-hover-todays-mood-save-btn: var(--clr-tomato);
    --clr-hover-todays-mood-save-btn: var(--clr-white);
    --clr-moods-today-note: var(--clr-turquoise);
    --bg-clr-user-profile-suggestion-txt: var(--clr-lime-orange);
    --bg-clr-user-profile-suggestion-cards-border: var(--clr-gray);
    --clr-footer-border:var( --clr-tomato)


}

/* _____________________________________________END COLORS_____________________________________________ */